[submodule "simplePHPRouter"]
	path = simplePHPRouter
	url = https://github.com/steampixel/simplePHPRouter.git
[submodule "SleekDB"]
	path = SleekDB
	url = https://github.com/rakibtg/SleekDB.git
[submodule "php-markdown"]
	path = php-markdown
	url = https://github.com/michelf/php-markdown.git
